project_id                       = "crypto-autotrading-lab"
region                           = "asia-northeast1"
artifact_repository_name         = "crypto-autotrading-lab"
gcs_bucket_name                  = "crypto-autotrading-lab"
build_service_account_name       = "cloud-build-builder"
runtime_service_account_name     = "crypto-autotrading-lab-runner"
scheduler_service_account_name   = "cloud-scheduler-invoker"
deploy_service_account_email     = "github-actions-deployer@crypto-autotrading-lab.iam.gserviceaccount.com"
cloud_run_job_name               = "crypto-autotrading-job"
image_uri                        = "asia-northeast1-docker.pkg.dev/crypto-autotrading-lab/crypto-autotrading-lab/app:xxxxxxx"
app_trading_strategy_name        = "SafeReboundStrategy"
api_public_base_url              = "https://api.coin.z.com/public"
api_private_base_url             = "https://api.coin.z.com/private"
api_retry_count                  = "3"
app_interval                     = "60"
output_path                      = "/mnt/gcs/data/output.json"
state_path                       = "/mnt/gcs/data/state.json"
trading_buy_threshold            = "1.5"
trading_sell_threshold           = "1.0"
trading_initial_capital          = "100000"
trading_trade_amount             = "10000"
trading_symbol                   = "BTC_JPY"
trading_volatility_threshold     = "2.0"
trading_sharp_change_threshold   = "3.0"
trading_cooldown_length          = "5"
trading_atr_length               = "14"
trading_atr_profit_multiplier    = "2.0"
trading_atr_loss_multiplier      = "1.5"
scheduler_job_name               = "crypto-autotrading-lab-scheduler"
scheduler_cron                   = "0 9 * * *"
scheduler_time_zone              = "Asia/Tokyo"
