# Gradle
.gradle/
build/
/build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
*.class

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/*
!.vscode/tasks.json

# Environment / Secrets
.env
github-variables.env

# Data directories created by Docker or app
data/

# Terraform
**/.terraform/
terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
